<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Node Downloader
body
    input(type='text', name='url')/
    button.download(type='submit') download
    button.cancel cancel download
    button.stop stop
    button.resume resume
    div.progress

    script(src='lib/socket.io-client/socket.io.js')
    script(src='script/index.js')
    