<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Node Downloader
body
    input(type='text', name='url')/
    button(type='submit') download

    script(src='lib/socket.io-client/socket.io.js')
    script(src='script/index.js')
    